
@{
    ViewData["Title"] = "GraphicDesign";
}
<div class="portfolioSection">
    <h2 class="portfolioSectionTitle">Graphic Design</h2>
    <p><center>A collection of digital work created both for personal use and on commission.</center></p><br/>
    <!-- Gridder navigation -->
    <ul class="gridder">

        <!-- You can load specify which content is loaded by specifying the #ID of the div where the content is  -->
        <li class="gridder-list" data-griddercontent="#content1">
            <img src="~/images/graphicDesign/Cup--dogs1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content2">
            <img src="~/images/graphicDesign/H_N_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content3">
            <img src="~/images/graphicDesign/Merry-Christmas-Cards_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content4">
            <img src="~/images/graphicDesign/Pozytyw_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content5">
            <img src="~/images/graphicDesign/Polas-Wedding-invitation_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content6">
            <img src="~/images/graphicDesign/Queen-of-Spiders-Design.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content7">
            <img src="~/images/graphicDesign/Sherlock-Holmes-Design.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content8">
            <img src="~/images/graphicDesign/Wedding-Invitation-Travel_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content9">
            <img src="~/images/graphicDesign/I-do-not-have-a-pet-elephant-cover_3.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content10">
            <img src="~/images/graphicDesign/ilink_1.jpg" width="300px" />
        </li>
    </ul>

    <!-- Gridder content -->
    <div id="content1" class="gridder-content">
        <img src="~/images/graphicDesign/Cup--dogs1.jpg" />
        <div class="description">
            <h2>Design for a gift mug (Commissioned)</h2><h3>
                Personalized illustration based on a photograph of the gift
                recipient with added elements as requested - printed on mug.
            </h3>
        </div>
    </div>
    <div id="content2" class="gridder-content">
        <img src="~/images/graphicDesign/H_N_1.jpg" />
        <div class="description">
            <h2>
                Promotional Material (Commissioned)
                Logo, Profile Pictures, and Website Banner
            </h2><h3>
                Promotional material requested to have the letter 'H' and 'N' in the the
                style of a classic superhero logo. Profile pictures resembling the requesters.
                And a banner incorporating all of the previous elements.
            </h3>
        </div>
    </div>
    <div id="content3" class="gridder-content">
        <img src="~/images/graphicDesign/Merry-Christmas-Cards_1.jpg" />
        <div class="description">
            <h2>Christmas Cards (Personal)</h2><h3>
                Two sided Christmas Card designs with an emphasis on
                typography. Designed with space to write personalised greetings.
                (Meant to be sent with envelope - no postal marks in design)
            </h3>
        </div>
    </div>
    <div id="content4" class="gridder-content">
        <img src="~/images/graphicDesign/Pozytyw_1.jpg" />
        <div class="description">
            <h2>
                POZYTYW
                Stationary Set with Custom Logo (Commissioned)
            </h2><h3>
                Letterhead, Envelope, Business Cards (multiple variations), and Custom Logo
            </h3>
        </div>
    </div>
    <div id="content5" class="gridder-content">
        <img src="~/images/graphicDesign/Polas-Wedding-invitation_1.jpg" />
        <div class="description">
            <h2>
                Wedding Invitations (Commissioned)
            </h2><h3>
                Wedding invitations personalized as requested by the couple to be.
                Designed in a way that the information is segmented into three parts
                (invitation, ceremony, and reception).
            </h3>
        </div>
    </div>
    <div id="content6" class="gridder-content">
        <img src="~/images/graphicDesign/Queen-of-Spiders-Design.jpg" />
        <div class="description">
            <h2>
                Book Cover 'Queen of Spiders' (Personal)
            </h2><h3>
                A book cover design for a children's story.
            </h3>
        </div>
    </div>
    <div id="content7" class="gridder-content">
        <img src="~/images/graphicDesign/Sherlock-Holmes-Design.jpg" />
        <div class="description">
            <h2>
                Book Cover 'Sherlock Holmes' (Personal)
            </h2><h3>
                A book cover design for the famous sleuth.
            </h3>
        </div>
    </div>
    <div id="content8" class="gridder-content">
        <img src="~/images/graphicDesign/Wedding-Invitation-Travel_1.jpg" />
        <div class="description">
            <h2>
                Wedding Invitations (Personal)
            </h2><h3>
                Travel themed wedding invitations with a vintage aesthetic. Created for
                personal use for my own wedding. Invitations were meant to reflect our
                long distant relationship, showing the connection between Poland and the
                United States. Invitations went along with the overall 'travel' theme.
            </h3>
        </div>
    </div>
    <div id="content9" class="gridder-content">
        <img src="~/images/graphicDesign/I-do-not-have-a-pet-elephant-cover_3.jpg" />
        <div class="description">
            <h2>
                Book Cover 'I Do Not Have A Pet Elephant'
            </h2><h3>
    A book cover design for a children's story about a girl with a pet elephant,
    and all the creative lengths she goes to hide it.
</h3>
        </div>
    </div>
    <div id="content10" class="gridder-content">
        <img src="~/images/graphicDesign/ilink_1.jpg" />
        <div class="description">
            <h2>
                ILINK
                Stationary Set with Custom Logo (Commissioned)
            </h2><h3>
    Letterhead, Envelope, Business Cards, and Custom Logo
</h3>
        </div>
    </div>

    <div><a asp-area="" asp-controller="Portfolio" asp-action="Index" style="color:#166dbe">Back</a></div>

    <script>
        $(document).ready(function () {
            // Call Gridder
            $(".gridder").gridderExpander({
                scrollOffset: 60,
                scrollTo: "panel", // "panel" or "listitem"
                animationSpeed: 400,
                animationEasing: "easeInOutExpo",
                onStart: function () {
                    console.log("Gridder Inititialized");
                },
                onExpanded: function (object) {
                    console.log("Gridder Expanded");
                },
                onChanged: function (object) {
                    console.log("Gridder Changed");
                },
                onClosed: function () {
                    console.log("Gridder Closed");
                }
            });
        });</script>
</div>