@{
    ViewData["Title"] = "illustrations";
}

<div class="portfolioSection">
    <h2 class="portfolioSectionTitle">Illustrations</h2>
    <!-- Gridder navigation -->
    <ul class="gridder">

        <!-- You can load specify which content is loaded by specifying the #ID of the div where the content is  -->
        <li class="gridder-list" data-griddercontent="#content1">
            <img src="~/images/illustration/Beach-Girl_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content2">
            <img src="~/images/illustration/Bike-at-the-Sea_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content3">
            <img src="~/images/illustration/Book_3.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content4">
            <img src="~/images/illustration/Bunny_s-Dream_4.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content5">
            <img src="~/images/illustration/Bunny-in-a-Bow-Tie_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content6">
            <img src="~/images/illustration/Happy-in-the-Rain_1.jpg" width="300px" />
        </li>
    </ul>

    <!-- Gridder content -->
    <div id="content1" class="gridder-content">
        <img src="~/images/illustration/Beach-Girl_2.jpg" />
        <div class="description"><h2>A Day at the Beach</h2></div>
    </div>
    <div id="content2" class="gridder-content"> <img src="~/images/illustration/Bike-at-the-Sea_2.jpg" /> </div>
    <div id="content3" class="gridder-content"> <img src="~/images/illustration/Book_3.jpg" /> </div>
    <div id="content4" class="gridder-content"> <img src="~/images/illustration/Bunny_s-Dream_4.jpg" /> </div>
    <div id="content5" class="gridder-content"> <img src="~/images/illustration/Bunny-in-a-Bow-Tie_2.jpg" /> </div>
    <div id="content6" class="gridder-content"> <img src="~/images/illustration/Happy-in-the-Rain_1.jpg" /> </div>

    <script>
        $(document).ready(function () {
            // Call Gridder
            $(".gridder").gridderExpander({
                scrollOffset: 60,
                scrollTo: "panel", // "panel" or "listitem"
                animationSpeed: 400,
                animationEasing: "easeInOutExpo",
                onStart: function () {
                    console.log("Gridder initialized");
                },
                onContent: function () {
                    console.log("Gridder content loaded");
                },
                onClosed: function () {
                    console.log("Gridder closed.");
                }
            });
        });</script>
</div>