@{
    ViewData["Title"] = "illustrations";
}

<div class="portfolioSection">
    <h2 class="portfolioSectionTitle">Illustrations</h2>
    <p><center>A collection of illustrations using traditional media, Photoshop, and Illustrator.</center></p>
    <!-- Gridder navigation -->
    <ul class="gridder">

        <!-- You can load specify which content is loaded by specifying the #ID of the div where the content is  -->
        <li class="gridder-list" data-griddercontent="#content1">
            <img src="~/images/illustration/Beach-Girl_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content2">
            <img src="~/images/illustration/Bike-at-the-Sea_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content3">
            <img src="~/images/illustration/Book_3.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content4">
            <img src="~/images/illustration/Bunny_s-Dream_4.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content5">
            <img src="~/images/illustration/Bunny-in-a-Bow-Tie_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content6">
            <img src="~/images/illustration/Happy-in-the-Rain_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content7">
            <img src="~/images/illustration/Kitten_3.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content8">
            <img src="~/images/illustration/Concept-Art-Girl-and-Aunt_5.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content9">
            <img src="~/images/illustration/Concept-Art-for-Thesis_12.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content10">
            <img src="~/images/illustration/Grumpy-Boy_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content11">
            <img src="~/images/illustration/Kasia_s-Kookies_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content12">
            <img src="~/images/illustration/Mary_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content13">
            <img src="~/images/illustration/Penguin_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content14">
            <img src="~/images/illustration/Clock_6.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content15">
            <img src="~/images/illustration/Clock-Fix_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content16">
            <img src="~/images/illustration/Fire_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content17">
            <img src="~/images/illustration/Puzzle_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content18">
            <img src="~/images/illustration/Sculpture_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content19">
            <img src="~/images/illustration/Picnic_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content20">
            <img src="~/images/illustration/Portraits_4.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content21">
            <img src="~/images/illustration/Family_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content22">
            <img src="~/images/illustration/Vintage-Portrait_1.jpg" width="300px" />
        </li>
    </ul>

    <!-- Gridder content -->
    <div id="content1" class="gridder-content">
        <img src="~/images/illustration/Beach-Girl_2.jpg" />
        <div class="description"><h2>BEACH LADY</h2><h3>Made in Adobe Illustrator.</h3></div>
    </div>
    <div id="content2" class="gridder-content">
        <img src="~/images/illustration/Bike-at-the-Sea_2.jpg" />
        <div class="description"><h2>BIKE AT THE SEA</h2><h3>Made in Adobe Illustrator.</h3></div>
    </div>
    <div id="content3" class="gridder-content">
        <img src="~/images/illustration/Book_3.jpg" />
        <div class="description"><h2>READING</h2><h3>Made in Adobe Illustrator.</h3></div>
    </div>
    <div id="content4" class="gridder-content">
        <img src="~/images/illustration/Bunny_s-Dream_4.jpg" />
        <div class="description"><h2>BUNNY'S DREAM</h2><h3>Made in Adobe Illustrator.</h3></div>
    </div>
    <div id="content5" class="gridder-content">
        <img src="~/images/illustration/Bunny-in-a-Bow-Tie_2.jpg" />
        <div class="description"><h2>BUNNY IN A BOW TIE</h2><h3>Hand drawn Illustration. Ink and watercolor on paper.</h3></div>
    </div>
    <div id="content6" class="gridder-content">
        <img src="~/images/illustration/Happy-in-the-Rain_1.jpg" />
        <div class="description"><h2>HAPPY IN THE RAIN</h2><h3>Made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content7" class="gridder-content">
        <img src="~/images/illustration/Kitten_3.jpg" />
        <div class="description"><h2>KITTEN</h2><h3>Made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content8" class="gridder-content">
        <img src="~/images/illustration/Concept-Art-Girl-and-Aunt_5.jpg" />
        <div class="description"><h2>CONCEPT ART FOR GIRL AND AUNT</h2><h3>Concept Art of the Little Mean Girl and her aunt for a Victorian styled children's story.</h3></div>
    </div>
    <div id="content9" class="gridder-content">
        <img src="~/images/illustration/Concept-Art-for-Thesis_12.jpg" />
        <div class="description">
            <h2>CONCEPT ART FOR MY THESIS</h2><h3>
                Concept art for my university thesis, a short animation video. The short was designed to be
                creepy in a Victorian style. The main character is known simply as 'The Woman', she becomes
                undone during the short - as reflected in her hairstyle.
                The backgrounds and objects were created in Adobe Photoshop.
                The characters were created in Adobe Flash.
            </h3>
        </div>
    </div>
    <div id="content10" class="gridder-content">
        <img src="~/images/illustration/Grumpy-Boy_1.jpg" />
        <div class="description"><h2>GRUMPY BOY</h2><h3>Made in Adobe Illustrator.</h3></div>
    </div>
    <div id="content11" class="gridder-content">
        <img src="~/images/illustration/Kasia_s-Kookies_1.jpg" />
        <div class="description"><h2>KASIA'S KOOKIES</h2><h3>Made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content12" class="gridder-content">
        <img src="~/images/illustration/Mary_1.jpg" />
        <div class="description"><h2>MARY</h2><h3>Made in Adobe Photoshop. A design for a character that will be a part of a series of illustrations about an explorer. </h3></div>
    </div>
    <div id="content13" class="gridder-content">
        <img src="~/images/illustration/Penguin_1.jpg" />
        <div class="description"><h2>PENGUIN</h2><h3>Made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content14" class="gridder-content">
        <img src="~/images/illustration/Clock_6.jpg" />
        <div class="description"><h2>CLOCK</h2><h3>Photomanipulation made in Adobe Photoshop. </h3></div>
    </div>
    <div id="content15" class="gridder-content">
        <img src="~/images/illustration/Clock-Fix_1.jpg" />
        <div class="description"><h2>CLOCK FIX</h2><h3>Photomanipulation made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content16" class="gridder-content">
        <img src="~/images/illustration/Fire_1.jpg" />
        <div class="description"><h2>FIRE</h2><h3>Photomanipulation made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content17" class="gridder-content">
        <img src="~/images/illustration/Puzzle_1.jpg" />
        <div class="description"><h2>PUZZLE</h2><h3>Photomanipulation made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content18" class="gridder-content">
        <img src="~/images/illustration/Sculpture_1.jpg" />
        <div class="description"><h2>SCULPTURE</h2><h3>Photomanipulation made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content19" class="gridder-content">
        <img src="~/images/illustration/Picnic_1.jpg" />
        <div class="description"><h2>PICNIC</h2><h3>Made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content20" class="gridder-content">
        <img src="~/images/illustration/Portraits_4.jpg" />
        <div class="description"><h2>PORTRAITS</h2><h3>Made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content21" class="gridder-content">
        <img src="~/images/illustration/Family_1.jpg" />
        <div class="description"><h2>THE FAMILY</h2><h3>Concept design of a family. Made in Adobe Photoshop.</h3></div>
    </div>
    <div id="content22" class="gridder-content">
        <img src="~/images/illustration/Vintage-Portrait_1.jpg" />
        <div class="description"><h2>VINTAGE PORTRAIT OF AN ARTIST</h2><h3>
    Digital Illustration<br/>
    Made in Adobe Photoshop, using hand drawn elements.
</h3></div>
    </div>

    <div>
        <a asp-area="" asp-controller="Portfolio" asp-action="Index" style="color:#166dbe">Back</a>
    </div>

    <script>
        $(document).ready(function () {
            // Call Gridder
            $(".gridder").gridderExpander({
                scrollOffset: 60,
                scrollTo: "panel", // "panel" or "listitem"
                animationSpeed: 400,
                animationEasing: "easeInOutExpo",
                onStart: function () {
                    console.log("Gridder initialized");
                },
                onContent: function () {
                    console.log("Gridder content loaded");
                },
                onClosed: function () {
                    console.log("Gridder closed.");
                }
            });
        });</script>
</div>