<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="main.css" type="text/css" />*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>
    @*<script src="~/js/modernizr-custom.js"></script>*@
    <link href="https://fonts.googleapis.com/css?family=Rosario" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <div class="containWrapper">
        <div class="portfolioGallery">
            <div class="single-item">
                <div><img src="~/images/illustration/Beach-Girl_1.jpg" style="width:300px;" /></div>
                <div><img src="~/images/illustration/Bike-at-the-Sea_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Book_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Bunny_s-Dream_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Bunny-in-a-Bow-Tie_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Clock_5.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Clock-Fix_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_2.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_3.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_4.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_5.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_6.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_7.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_8.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_9.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_10.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_11.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_12.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_13.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_14.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_15.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-for-Thesis_16.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-Girl-and-Aunt_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Concept-Art-Girl-and-Aunt_2.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Family_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Family_2.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Family_3.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Family_4.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Family_5.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Family_6.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Fire_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Grumpy-Boy_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Happy-in-the-Rain_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Kitten_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/I-do-not-have-a-pet-elephant-cover.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Kasia_s-Kookies_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Mary_3.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Penguin_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Picnic_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Portraits_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Portraits_2.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Portraits_3.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Puzzle_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Queen-of-Spiders-Design.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Sculpture_1.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Sherlock-Holmes-Design.jpg" style="width:300px;"></div>
                <div><img src="~/images/illustration/Vintage-Portrait_1.jpg" style="width:300px;"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.single-item').slick({
                adaptiveHeight: true
            });
        });
    </script>
</body>
</html>