
@{
    ViewData["Title"] = "Index";
}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<h2>Portfolio</h2>
    <div class="aboutSection">
        <h2>Portfolio</h2>
        <div class="portfolioCol1">
            <div class="portImg">
                <a href="#">
                    <img src="images/graphicDesign/I-do-not-have-a-pet-elephant-cover.jpg">
                    <div class="portTextWrap"/>
                    <div class="bgPortText">
                        <div class="portText"> Graphic Design</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
<div class="portfolioCol2">
    <div class="portImg">
        <a href="#">
            <img src="images/traditional/Magnolias_3.jpg">
            <div class="portText">Traditional Art</div>
        </a>
    </div>
</div>
<div class="clearFloat" />

<a asp-area="" asp-controller="Portfolio" asp-action="Illustrations">
    <div class="portfolioCol1">
        <div class="portImg">
            <img src="images/illustration/Bike-at-the-Sea_1.jpg">
            <div class="portText">Illustrations</div>
        </div>
    </div>
</a>
<div class="portfolioCol2">
    <div class="portImg">
        <a href="#">
            <img src="images/comics/comicCover.jpg">
            <div class="portText">Comics</div>
        </a>
    </div>
</div>
<div class="clearFloat" />
