
@{
    ViewData["Title"] = "Index";
}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div class="portfolioSection">
    <h2 class="portfolioSectionTitle">Portfolio</h2>
    <div class="portfolioCol1">
        <div class="portImg">
            <a asp-area="" asp-controller="Portfolio" asp-action="graphicDesign">
                <img src="images/graphicDesign/I-do-not-have-a-pet-elephant-cover.jpg">
                <div class="portTextWrap" />
                <div class="overlay">
                <div class="bgPortText">
                    <div class="portText">Graphic Design</div>
                </div></div>
            </a>
        </div>
    </div>
</div>
<div class="portfolioCol2">
    <div class="portImg">
        <a asp-area="" asp-controller="Portfolio" asp-action="traditional">
            <img src="images/traditional/Magnolias_3.jpg">
            <div class="portTextWrap" />
            <div class="overlay">
                <div class="bgPortText">
                    <div class="portText">Traditional Art</div>
                </div></div>
        </a>
    </div>
</div>
</div>
<div class="clearFloat" /></div>

<div class="portfolioCol1">
    <div class="portImg">
        <a asp-area="" asp-controller="Portfolio" asp-action="illustrations">
            <img src="images/illustration/Bike-at-the-Sea_1.jpg">
            <div class="portTextWrap" />
            <div class="overlay">
                <div class="bgPortText">
                    <div class="portText">Illustrations</div>
                </div></div>
        </a>
    </div>
    </div>
</div>
<div class="portfolioCol2">
    <div class="portImg">
        <a asp-area="" asp-controller="Portfolio" asp-action="comics">
            <img src="images/comics/comicCover.jpg">
            <div class="portTextWrap" />
            <div class="overlay">
                <div class="bgPortText">
                    <div class="portText">Comics</div>
                </div></div>
        </a>
    </div>
</div>
</div>
<div class="clearFloat" />
</div>
