
@{
    ViewData["Title"] = "Index";
}
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<h2>Portfolio</h2>
    <div class="aboutSection">
        <h2>Portfolio</h2>
        <div class="portfolioCol1">
            <div class="portImg"><a href="#">
                <img src="images/I-do-not-have-a-pet-elephant-cover.jpg" width="300px">
                <div class="portTextWrap">
                    <div class="bgPortText"><div class="portText"> Graphic Design</div></div></a>
            </div></div>
        </div>
        <div class="portfolioCol2">
            <div class="portImg"><a href="#">
    <img src="images/I-do-not-have-a-pet-elephant-cover.jpg" width="300px">
    <div class="portText">Traditional Art</div></a>
</div>
        </div><div class="clearFloat" />
    </div>
    <div class="portfolioCol1">
        <div class="portImg"><a href="#">
    <img src="images/I-do-not-have-a-pet-elephant-cover.jpg" width="300px">
    <div class="portText">Illustrations</div></a>
</div>
    </div>
    <div class="portfolioCol2">
        <div class="portImg"><a href="#">
    <img src="images/I-do-not-have-a-pet-elephant-cover.jpg" width="300px">
    <div class="portText">Comics</div></a>
</div>
    </div><div class="clearFloat" /></div>
    </div>