
@{
    ViewData["Title"] = "traditional";
}
<div class="portfolioSection">
    <h2 class="portfolioSectionTitle">Traditional Art</h2>
    <!-- Gridder navigation -->
    <ul class="gridder">

        <!-- You can load specify which content is loaded by specifying the #ID of the div where the content is  -->
        <li class="gridder-list" data-griddercontent="#content1">
            <img src="~/images/traditional/Coffee-Spoon_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content2">
            <img src="~/images/traditional/Cookie-Jar_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content3">
            <img src="~/images/traditional/Elephant-Watercolor_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content4">
            <img src="~/images/traditional/Frog-in-the-Rain_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content5">
            <img src="~/images/traditional/Gdansk_1.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content6">
            <img src="~/images/traditional/Hot-Air-Balloon_2.jpg" width="300px" />
        </li>
        <li class="gridder-list" data-griddercontent="#content7">
            <img src="~/images/traditional/Janet-the-Giraffe_2.jpg" width="300px" />
        </li>
    </ul>

    <!-- Gridder content -->
    <div id="content1" class="gridder-content">  <img src="~/images/traditional/Coffee-Spoon_1.jpg" /> 
                                                 <div class="description"><h2>COFFEE SPOON</h2><h3>Acrylics on Canvas. 8.5 x 11 <br/>SOLD
</h3></div>
    </div>
    <div id="content2" class="gridder-content">  <img src="~/images/traditional/Cookie-Jar_1.jpg" /> 
                                                 <div class="description"><h2>COOKIE JAR</h2><h3>Acrylics on Canvas. 8.5 x 11</h3></div>
    </div>
    <div id="content3" class="gridder-content">  <img src="~/images/traditional/Elephant-Watercolor_2.jpg" />
                                                 <div class="description"><h2>ELEPHANT WATERCOLOR  11.75 x 15.75</h2><h3>Watercolor on paper. </h3></div>
    </div>
    <div id="content4" class="gridder-content"> <img src="~/images/traditional/Frog-in-the-Rain_2.jpg" />
                                                <div class="description"><h2>FROG IN THE RAIN</h2><h3>
    Acrylics on Canvas. Referenced from the Internet. 8.5 x 11
    <br/>NOT FOR SALE
</h3></div>
    </div>
    <div id="content5" class="gridder-content">  <img src="~/images/traditional/Gdansk_1.jpg" /> 
                                                 <div class="description"><h2>GDANSK</h2><h3>Watercolor on paper.15.5 x 12.5</h3></div>
    </div>
    <div id="content6" class="gridder-content"><img src="~/images/traditional/Hot-Air-Balloon_2.jpg" />
                                               <div class="description"><h2>HOT AIR BALOON</h2><h3>
    Acrylics on Canvas. 11 x 11<br/>
    SOLD
</h3></div>
    </div>
    <div id="content7" class="gridder-content"> <img src="~/images/traditional/Janet-the-Giraffe_2.jpg" />
                                                <div class="description"><h2>JANET THE GIRAFFE  12 x 24</h2><h3>
    Acrylics on Canvas.<br/>
    SOLD
</h3></div>
    </div>

    <div><a asp-area="" asp-controller="Portfolio" asp-action="Index" style="color:#166dbe">Back</a></div>

    <script>
        $(document).ready(function () {

            // Call Gridder
            $(".gridder").gridderExpander({
                scrollOffset: 60,
                scrollTo: "panel", // "panel" or "listitem"
                animationSpeed: 400,
                animationEasing: "easeInOutExpo",
                onStart: function () {
                    console.log("Gridder Inititialized");
                },
                onExpanded: function (object) {
                    console.log("Gridder Expanded");
                },
                onChanged: function (object) {
                    console.log("Gridder Changed");
                },
                onClosed: function () {
                    console.log("Gridder Closed");
                }
            });
        });</script>
</div>