body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/*LITA'S TAGS*/
/*GLOBAL TAGS*/
a {
    text-decoration: none;
}

    a:-webkit-any-link {
        text-decoration: none;
    }

a {
    color: #000000;
}

    a:hover {
        cursor: pointer;
        opacity: 0.6;
    }

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
    padding: 0;
    margin: 0;
}

ol, ul {
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
}

.containWrapper {
    margin: 0 auto;
    width: 100%;
}

.containment {
    background-color: #ffffff;
}

.clearFloat {
    clear: both;
}

img {
    width: 100%;
}

/*CONTENT*/

.contentFrame {
    width: 100%;
    height: 100vh;
}

/*NAV*/

.logoImgNav {
    max-width: 100px;
}

.navigation {
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    height: 250px;
    background-color: #166dbe;
    letter-spacing: .1em;
}

.nav ul {
    list-style-type: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

ul.nav {
    margin: -25px 100px 20px 100px;
    padding: 0;
    text-align: center;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 18px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
}

    .nav a:hover {
        color: #e3e3e3;
        cursor: pointer;
    }

    .nav a:visited {
        color: #ffffff;
    }

a .home:hover {
    visibility: visible;
}

a .home {
    visibility: hidden;
}

.homeIcon {
    width: 50px;
}


.active {
    opacity: 0.4;
}

.logo {
    max-width: 200px;
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*HOME*/

.wrapper {
    background: url('/images/1920x1280.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 800px;
    width: 100%;
    height: 98vh;
    margin-top: 8%;
}



/*ABOUT*/
.aboutSection {
    max-width: 960px;
    width: 100%;
    margin: 8% auto 3% auto;
    font-size: 20px;
    line-height: 34px;
}

    .aboutSection p {
        padding-left: 40px;
        padding-right: 40px;
    }

.aboutPhoto {
    float: left;
    width: 40%;
    max-width: 500px;
    margin-top: 4%;
}

    .aboutPhoto img {
        width: 100%;
    }

.aboutDescription {
    font-size: 18px;
    float: left;
    width: 60%;
}

h2.sectionTitles {
    text-align: left;
    font-size: 40px;
    padding-bottom: 40px;
    margin-left: 55%;
    margin-top: 10%;
    font-weight: bold;
    color: #166dbe;
}

.signature {
    text-align: center;
    margin: 0 auto;
    padding-top: 3%;
}

.signatureLine {
    max-width: 166px;
    width: 166px;
}

.socialIcons {
    width: 200px;
    max-width: 200px;
}

.socialBar {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/*PORTFOLIO*/

.portfolioSection {
    max-width: 960px;
    width: 100%;
    margin: 10% auto 3% auto;
    font-size: 20px;
    line-height: 34px;
}

h2.portfolioSectionTitle {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
    color: #166dbe;
}

.portfolioCol1 {
    float: left;
    width: 50%;
    padding: 2%;
}

.portfolioCol2 {
    float: right;
    width: 50%;
    padding: 2%;
}

.portImg {
    max-width: 600px;
    width: 100%;
    border: 2px solid #000000;
    position: relative;
}


    .portImg:hover {
        opacity: 0.6;
    }

.portText {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px;
    color: #000;
}

.bgPortText {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*GRIDDER*/
.gridder-navigation a {
    background: #FFF;
    display: inline-block;
    padding: 15px;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    margin-right: 0px;
    transition: all .3s ease-in-out;
}

.gridder-expanded-content {
    padding-bottom: 3%;
}

.gridder-show .description {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    line-height: 170%;
    color: #000;
}

    .gridder-show .description h2 {
        display: inline-block;
        background: #000;
        color: #FFF;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 40px;
        font-weight: 700;
        font-family:'Noto Sans TC', sans-serif;
        }
    .gridder-show .description h3 {
        background: #FFF;
        color: #000;
    }
        /*FOOTER*/
        .footer {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
