@{
    ViewData["Title"] = "About";
}
<!--<br />
<div class="row">
    <div class="col-lg-6">
        <img src="~/images/bookforweb.jpg" style="width:100%" />
    </div>
    <div class="col-lg-6">
        <h3 style="font-family:Allan; color:coral">Hello!</h3>
        <p>
            My name is Caroline.
            In 2016 I graduated with honors in Graphic Design in Warsaw, Poland. I moved to
            USA and was working for almost a year as a Graphic Artist in the company that was making promotional products. After that I started working as a Graphic Designer in a print shop where I work today. I am a hardworking, creative designer who is not afraid of
            new challenges and is willing to go extra mile to make sure that the clients gets exactly what they want.
        </p>
    </div>
</div>-->
<div class="aboutSection">
    <h2 class="sectionTitles">About</h2>
    <div class="aboutPhoto">
        <img src="C:\Users\Lita\Documents\Caroline Portfolio Materials\About Me-01-01.png" />
    </div>
    <div class="aboutDescription">
        <p>
            I’m an artist - graphic designer, painter, and illustrator.
            Born in Poland, I now live in the USA with
            my American husband.
        </p><br /><p>
            Currently I work at a print shop as a
            graphic designer and as a freelancer
            for children’s illustrations, paintings,
            digital art, and graphic design projects.
            I also make comic strips about long distance
            and multicultural relationships that you are welcome to check out in my <a href="#">PORTFOLIO</a>.
        </p><br /><p>
            For commission inquiries, freelance work, or other questions,
            please contact me by visiting the <a href="#">CONTACT</a> link.
        </p><br /><p>
            Please make sure to check out my pricing
            and get familiar with my requirements first
            by clicking the <a href="#">CONTACT</a> button.
        </p>
        <div class="signature">
            <img src="C:\Users\Lita\Documents\Caroline Portfolio Materials\sig.png" alt="signature Caroline Bergen" class="signatureLine" />
        </div>
    </div>
    <div class="clearFloat"></div>
    <div class="socialBar">
        <p>Find me on social media!</p>
        <img src="C:\Users\Lita\Documents\Caroline Portfolio Materials\socialicons.png" alt="social media icons" class="socialIcons" />
    </div>
</div>