@{
    ViewData["Title"] = "Contact";
}
<div class="portfolioSection">
<h2 class="portfolioSectionTitle">Contact Me</h2>
<div class="row" style="margin-top:10%;">
    <div class="col-lg-6">
        <img src="~/images/owl.jpg" style="width:100%" />
    </div>
    <div class="col-lg-6">
        <p>
            <strong>
                For inquiries please contact me via e-mail at
            </strong>
        </p>
        <address>
            <strong>Business:</strong> <a href="mailto:caroline.bergen@outlook.com">caroline.bergen@outlook.com</a>
        </address>
    </div>
</div>
</div>
